In [11]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import os

In [13]:
url = 'https://movie.naver.com/movie/running/premovie.nhn'
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.101 Safari/537.36'}

page = requests.get(url, headers=headers).content
soup = BeautifulSoup(page, 'lxml')
# soup.title

### 첫번쨰 개봉예정영화 가져오기

In [14]:
title = soup.find('dl', class_='lst_dsc').find('a').text
title

'2046'

### 전체 개봉예정영화 가져오기

In [15]:
all_movie = soup.find_all('dl', class_='lst_dsc')

all_title = []

for i in all_movie :
    
    # 영화제목
    temp_title = i.find('dt', class_='tit').find('a').text
    all_title.append(temp_title)

In [16]:
print(all_title)

['2046', '킬러의 보디가드 2', '발신제한', '메이드 인 루프탑', '데이팅 앰버', '흩어진 밤', '뱅퀴시', '식물카페, 온정', '신해석 삼국지', '크레센도', '북샵', '진삼국무쌍', '아사다 가족', '미드나이트', '우리는 매일매일', '괴기맨숀', '다크 앤드 위키드', '더 배니싱', '레일로드 워', '블라이스 스피릿', '빛나는 순간', '열아홉', '웬디', '이보다 더 좋을 순 없다', '인 더 하이츠', '저승보다 낯선', '좀비크러쉬: 헤이리', '체르노빌 1986', '기적', '암살자들', '켈리 갱', '매직아치', '시카다 3301', '아이윌 송', '블랙 위도우', '미션 임파서블: 루벤', '트립 투 그리스', '꽃다발 같은 사랑을 했다', '더 퍼지: 포에버', '오필리아', '이스케이프 룸 2: 노 웨이 아웃', '와인 패밀리', '죽어도 좋은 경험', '극장판 짱구는 못말려: 격돌! 낙서왕국과 얼추 네 명의 용사들', '나는 나대로 혼자서 간다', '나만 보이니', '더 나이트', '랑종', '스페이스 잼: 새로운 시대', '액션히어로', '옥스포드 살인사건', '워스', '은혼 더 파이널', '이번엔 잘 되겠지', '정글 크루즈', '페이블', '피어 오브 레인', '호스트: 접속금지', '베놈 2: 렛 데어 비 카니지', '007 노 타임 투 다이', '웨스트 사이드 스토리', '모비우스', '쥬라기 월드: 도미니언', '미니언즈2']

In [17]:
data_df = pd.DataFrame({'title' : all_title})
data_df.head()

        title
0        2046
1  킬러의 보디가드 2
2        발신제한
3   메이드 인 루프탑
4      데이팅 앰버