In [74]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = "https://finance.naver.com/sise/"

In [3]:
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")

In [4]:
print( soup.find('span', id='KOSDAQ_now').text )  # 코스닥
print( soup.find('span', id='KOSPI_now').text  )  # 코스닥
print( soup.find('span', id='KPI200_now').text )  # 코스닥

998.01
3,259.48
434.00

In [5]:
## 삼성전자 : 005930
## 카카오   : 035720
## 유한양행 : 000100

In [71]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER', '쌍방울']
my_stock_code = ['005930','035720', '000100', '035420', '102280']

In [11]:
chk_url = 'https://finance.naver.com/item/main.nhn?code=000100'
page = urlopen(chk_url)
soup = BeautifulSoup(page, 'lxml')
soup.title

In [70]:
# soup.find('table', {'class':'no_info'})

In [68]:
soup.find('span', class_='sp_txt5').find_next('span', class_='blind').text

'63,000'

In [76]:
my_stock = ['삼성전자', '카카오', '유한양행', 'NAVER', '쌍방울']
my_stock_code = ['005930','035720', '000100', '035420', '102280']
price = []
trade = []
pre = []
market = []
high = []
low = []
base_url = 'https://finance.naver.com/item/main.nhn?code='


for idx, i in enumerate(my_stock_code) :
    all_url = base_url + i
    page = urlopen(chk_url)
    soup = BeautifulSoup(page, 'lxml')
    
    # 현재가
    temp_price = soup.find('p', {'class':'no_today'}).find('span', class_='blind').text
    price.append(temp_price)
    
    # 거래량
#     trade = soup.select_one('span.sp_txt9').parent.select_one('span.blind').text
    temp_trade = soup.find('span', class_='sp_txt9').find_next('span', class_='blind').text
    trade.append(temp_trade)
    
    # 전일
    temp_pre = soup.find('span', class_='sp_txt2').find_next('span', class_='blind').text
    pre.append(temp_pre)
    
    # 시가
    temp_market = soup.find('span', class_='sp_txt3').find_next('span', class_='blind').text
    market.append(temp_market)
    
    # 고가
    temp_high = soup.find('span', class_='sp_txt4').find_next('span', class_='blind').text
    high.append(temp_high)
    
    # 저가
    temp_low = soup.find('span', class_='sp_txt5').find_next('span', class_='blind').text
    low.append(temp_low)
    
    print(my_stock[idx], temp_price, temp_trade, temp_pre, temp_market, temp_high, temp_low)

삼성전자 63,200 124,857 63,800 63,700 63,700 63,000
카카오 63,200 124,857 63,800 63,700 63,700 63,000
유한양행 63,200 124,857 63,800 63,700 63,700 63,000
NAVER 63,200 126,121 63,800 63,700 63,700 63,000
쌍방울 63,200 126,121 63,800 63,700 63,700 63,000

In [77]:
dat_df = pd.DataFrame({'my_stock' : my_stock,
                       'my_stock_code' : my_stock_code,
                       'price' : price,
                       'trade' : trade,
                       'pre' : pre,
                       'market' : market,
                       'high' : high,
                       'low' : low})
dat_df

  my_stock my_stock_code   price    trade     pre  market    high     low
0     삼성전자        005930  63,200  124,857  63,800  63,700  63,700  63,000
1      카카오        035720  63,200  124,857  63,800  63,700  63,700  63,000
2     유한양행        000100  63,200  124,857  63,800  63,700  63,700  63,000
3    NAVER        035420  63,200  126,121  63,800  63,700  63,700  63,000
4      쌍방울        102280  63,200  126,121  63,800  63,700  63,700  63,000